* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background-image: url(image/product\ bg.png);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #C27F85;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    padding: 10px 0;
}

nav .logo img {
    width: 90px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: 0.1s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: black;
    display: block;
    transition: 0.2s linear;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: black;
}

nav .icon i {
    font-size: 18px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

nav .icon i:hover {
    color: black;
}
nav {
    padding: 7px;
}

body{
    margin: 0;
}
.container{
    width: 900px;
    margin: auto;
    margin-top: 10rem;
    max-width: 90vw;
    text-align: center;
    position: relative;
    top: -7rem;
    transition: transform .5s;
}

.container h1 {
    max-width: 100%;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 3rem;
    position: relative;
    top: 1rem;
    right: -14rem;
}

.container h1 span {
    color: #A76E67;
    margin-left: 15px;
   
}

.container h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    display: block;
    position: relative;
    bottom: 5px;
}

svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title a{ 
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
    border-radius: 10%;
   
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  
}



.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
    margin-top: 40px;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #C27F85;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.listProduct .item button:hover{
    color: #412e2f;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #7a7770;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    position: relative;
    top: 6.5rem;
    color: #e99696;
    font-size: 250%;
    font-weight: bold;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #C27F85;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
}

.cartTab a{
    background-color: #C27F85;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
    padding-left: 3.5rem;
    padding-top: 1.5rem;
}

.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
    border-radius: 1rem;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: -8rem;
    margin-left: 5px;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}